<section class="custom_color_fp body-font py-4">
  <h1 class="text-center text-5xl font-extrabold ">{{ section.settings.product_featured.title }}</h1>

  <div class="container px-5 py-20 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <img alt="feature" class="object-cover object-center h-full w-full" src="{{ section.settings.product_featured.featured_image.src | image_url}}">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        <div class="flex-grow">
          <h2 class="text-lg title-font font-medium mb-3">{{ section.settings.featured_title_1 }}</h2>
          <p class="leading-relaxed text-base">{{ section.settings.featured_description_1 }}</p>
          <a href="{{ section.settings.product_featured.url }} "class="mt-3 text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
  
        <div class="flex-grow">
          <h2 class="text-lg title-font font-medium mb-3">{{ section.settings.featured_title_2 }}</h2>
          <p class="leading-relaxed text-base">{{ section.settings.featured_description_2 }}</p>
          <a href="{{ section.settings.product_featured.url }} " class="mt-3 text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
    
        <div class="flex-grow">
          <h2 class="text-lg title-font font-medium mb-3">{{ section.settings.featured_title_3 }}</h2>
          <p class="leading-relaxed text-base">{{ section.settings.featured_description_3 }}</p>
          <a href="{{ section.settings.product_featured.url }} " class="mt-3 text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .custom_color_fp{
    color: {{  section.settings.color_fp }};
    background-color: {{ section.settings.bg_color_fp }};
  }
</style>




{% schema %}
{
 "name": "Featured Product",
"settings": [
  {
   "type": "product",
    "id" : "product_featured",
    "label" : "Featured Product"
  },
  {
   "type": "color",
   "id" : "color_fp",
    "label" : "Text Color",
   "default": "#000000"  
  },
  {
   "type": "color",
   "id" : "bg_color_fp",
    "label" : "BG Color",
   "default": "#fda4af"
  },
  {
   "type": "text",
   "label" : "Featured title 1",
   "id" : "featured_title_1",
  "default": "Shooting Stars"
  },
  {
      "type": "text",
      "label" : "Featured Description 1",
     "default": "Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.",
     "id" : "featured_description_1"
  },
  {
   "type": "text",
   "label" : "Featured title 2",
   "id" : "featured_title_2",
   "default": "Shooting Stars"
  },
  {
      "type": "text",
      "label" : "Featured Description 2",
    "default": "Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.",
    "id" : "featured_description_2"
  },
  {
   "type": "text",
   "label" : "Featured title 3",
   "id" : "featured_title_3",
   "default": "Shooting Stars"
  },
  {
   "type": "text",
   "label" : "Featured Description 3",
   "default": "Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.",
   "id" : "featured_description_3"
  }
  ]
}
{% endschema %}